/* Estilo geral */
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center
}



}

/* Botão */
button, input[type="submit"] {
    background-color: #00ffcc;
    border: none;
    padding: 10px 20px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    text-shadow: none;
}

button:hover, input[type="submit"]:hover {
    background-color: #00e6b8;
}

/* Página Home e Login */
.container {
    text-align: center;
}

/* Página Principal com menu lateral */
    

.sidebar {
    background-color: #111;
    padding: 20px;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    color: #fff;
    padding: 15px 0;
    text-decoration: none;
    text-shadow: 0 0 5px #00ffcc;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #00ffcc;
    color: #000;
    text-shadow: none;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

