.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    display: block;
    border: 2px solid #e12622;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: #f35d5a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary {
    background-color: #e12622;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #e12622;
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
}

.form-group input {
    display: block;
    width: 100%;
}

footer {
    background-color: #e12622;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Efeito neon para o texto */
 h2, p, a {
    color: #fff;
    text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc, 0 0 40px #00ffcc;}